In [1]:
import re
import pandas as pd
import xgboost as xgb
import seaborn as sns
from math import ceil
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split
le = LabelEncoder()

/Users/MatthewBarnette/iron_yard_hw/titanic/.direnv/python-3.5.0/lib/python3.5/site-packages/sklearn/utils/fixes.py:64: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  if 'order' in inspect.getargspec(np.copy)[0]:

In [2]:
def greater_than_point_five(num):
    if num - int(num) >= .5:
        return int(num) + 1
    else:
        return int(num)

In [3]:
titanic_train = pd.read_csv("titanic/train.csv")
titanic_test = pd.read_csv("titanic/test.csv")
titanic_test_fit = pd.read_csv("titanic/test.csv")

In [4]:
titanic_train.Cabin.fillna('Steerage', inplace=True)
titanic_train = titanic_train.drop(['Name', 'Ticket'], axis=1)
titanic_train.Age = titanic_train.Age.fillna(int(titanic_train.Age.mean()))
titanic_train.Fare = titanic_train.Fare.fillna(titanic_train.Fare.mean())
titanic_train.Embarked = titanic_train.Embarked.fillna('U')


for row in range(len(titanic_train.Cabin)):
    if re.findall(r'^[A-Z, a-z]\d+', titanic_train.Cabin[row]):
        titanic_train.Cabin[row] = re.findall(r'^[A-Z, a-z]', titanic_train.Cabin[row])[0]


train, test = train_test_split(titanic_train, test_size = .4)

/Users/MatthewBarnette/iron_yard_hw/titanic/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
titanic_test.Cabin.fillna('Steerage', inplace=True)
titanic_test = titanic_test.drop(['Name', 'Ticket'], axis=1)
titanic_test.Age = titanic_test.Age.fillna(int(titanic_train.Age.mean()))
titanic_test.Fare = titanic_test.Fare.fillna(titanic_train.Fare.mean())
titanic_test.Embarked = titanic_test.Embarked.fillna('U')

for row in range(len(titanic_test.Cabin)):
    if re.findall(r'^[A-Z, a-z]\d+', titanic_test.Cabin[row]):
        titanic_test.Cabin[row] = re.findall(r'^[A-Z, a-z]', titanic_test.Cabin[row])[0]

/Users/MatthewBarnette/iron_yard_hw/titanic/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
titanic_test_fit.Cabin.fillna('Steerage', inplace=True)
titanic_test_fit = titanic_test_fit.drop(['Name', 'Ticket'], axis=1)
titanic_test_fit.Age = titanic_test_fit.Age.fillna(int(titanic_train.Age.mean()))
titanic_test_fit.Fare = titanic_test_fit.Fare.fillna(titanic_train.Fare.mean())
titanic_test_fit.Embarked = titanic_test_fit.Embarked.fillna('U')

for row in range(len(titanic_test_fit.Cabin)):
    if re.findall(r'^[A-Z, a-z]\d+', titanic_test_fit.Cabin[row]):
        titanic_test_fit.Cabin[row] = re.findall(r'^[A-Z, a-z]', titanic_test_fit.Cabin[row])[0]

/Users/MatthewBarnette/iron_yard_hw/titanic/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
titanic_test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare     Cabin Embarked
0          892       3    male  34.5      0      0   7.8292  Steerage        Q
1          893       3  female  47.0      1      0   7.0000  Steerage        S
2          894       2    male  62.0      0      0   9.6875  Steerage        Q
3          895       3    male  27.0      0      0   8.6625  Steerage        S
4          896       3  female  22.0      1      1  12.2875  Steerage        S

In [9]:
for column in titanic_test.columns.values:
    if column == 'Sex' or column == 'Cabin' or column == 'Embarked':
        le.fit(titanic_test_fit[column])
        titanic_test[column] = le.transform(titanic_test[column])

for column in titanic_train.columns.values:
    if column == 'Sex' or column == 'Cabin' or column == 'Embarked':
        le.fit(titanic_train[column])
        train[column] = le.transform(train[column])

for column in titanic_train.columns.values:
    if column == 'Sex' or column == 'Cabin' or column == 'Embarked':
        le.fit(titanic_train[column])        
        test[column] = le.transform(test[column])

/Users/MatthewBarnette/iron_yard_hw/titanic/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/MatthewBarnette/iron_yard_hw/titanic/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
survived_train = train['Survived']
train = train.drop(['Survived'], axis=1)

survived_test = test['Survived']
test = test.drop(['Survived'], axis=1)

In [11]:
dtrain = xgb.DMatrix(train.as_matrix(),
                     label=survived_train)
dtest = xgb.DMatrix(test.as_matrix(),
                    label=survived_test)

In [65]:
param = {'bst:max_depth':6, 'objective':'binary:logistic'}
param['nthread'] = 4
param['eval_metric'] = ['map']
evallist  = [(dtrain,'train'), (dtest,'eval')]
num_round = 500

In [66]:
bst = xgb.train(param, dtrain, num_round, evallist, early_stopping_rounds=5)

Will train until eval error hasn't decreased in 5 rounds.
[0]	train-map:0.876994	eval-map:0.836080
[1]	train-map:0.896219	eval-map:0.849440
[2]	train-map:0.919653	eval-map:0.833033
[3]	train-map:0.929930	eval-map:0.844601
[4]	train-map:0.941027	eval-map:0.840366
[5]	train-map:0.949315	eval-map:0.832462
[6]	train-map:0.951164	eval-map:0.835601
Stopping. Best iteration:
[1]	train-map:0.896219	eval-map:0.849440

[4]	train-error:0.091760	train-logloss:0.320786	eval-error:0.196078	eval-logloss:0.462080

In [67]:
predictions = bst.predict(xgb.DMatrix(titanic_test.as_matrix()), output_margin=False)

In [68]:
new_pred = []
for decimal in predictions:
    number = greater_than_point_five(decimal)
    new_pred.append(number)

In [69]:
pd.DataFrame(predictions).head()

          0
0  0.152268
1  0.666952
2  0.130306
3  0.173399
4  0.423284

In [70]:
titanic_test_fit['Survived'] = new_pred

In [71]:
results = titanic_test_fit.drop(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Cabin', 'Embarked'], axis=1)

In [72]:
results.to_csv('XGBoost_Titanic_results.csv', index=False)